/* Geral */
*{
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    
}

button{
    cursor: pointer;
}
img{
    width: 100%;
}

input[type="submit"]{
    cursor: pointer;
}

    /* Variáveis de Cores */
:root{

    --white-01: #fff;
    --white-02: #EBEBEB;
    --white-03: #D6D6D6;
    --white-04: #C2C2C2;
    --white-05: #ADADAD;
    --white-06: #999999;

    --black-01: #1A1B1C;
    --black-02: #2F3032;
    --black-03: #424547;
    --black-04: #56595D;
    --black-05: #56595D;
    --black-06: #7D8287;

    --quartenaria-01: #22007C;
    --quartenaria-02: #2D00A3;
    --quartenaria-03: #3800CC;
    --quartenaria-04: #4300F5;
    --quartenaria-05: #5C1FFF;
    --quartenaria-06: #7A47FF;

    --terciaria-01: #140152;

    --secundaria-01: #04052E;

    --primaria-01: #02010A;
    --primaria-02: #09052E;
}

body{
    background-color: var(--secundaria-01);
    
}

h1{
    font-size: 121px;
    font-weight:900;
    color: var(--white-01);
}

.h1-portfolio{
    font-size: 121px;
    font-weight:400;
    color: rgba(255, 255, 255, 0.1);
}

.h2-white{
    font-size:81px ;
    font-weight: 400;
    color: var(--white-02);   
}

.h2-dark{
    font-size:81px ;
    font-weight: 400;
    color: var(--quartenaria-02); 
}

.h3-white{
    font-size:54px ;
    font-weight: 400;
    color: var(--white-03);   
}

.h4-white{
    font-size:36px ;
    font-weight: 400;
    color: var(--white-04);
}

.h5-light-white{
    font-size:24px ;
    font-weight: 300;
    color: var(--white-05);
}

.h5-white{
    font-size:24px ;
    font-weight: 400;
    color: var(--white-05);
}

.h5-dark{
    font-size:34px ;
    font-weight: 400;
    color: var(--quartenaria-05); 
}

.h6-white{
    font-size:16px ;
    font-weight: 400;
    color: var(--white-06);
}

.h6-dark{
    font-size:16px ;
    font-weight: 400;
    color: var(--quartenaria-06); 
}


/* Cabeçalho */
#header{
    min-height: 90vh;
    
    margin-bottom: 2rem;
    position: relative;
    
}

#logo{
    width: 170px;
    height: 170px;
    /* left: 135px; */
    top: -21px;
    margin-left: 135px;
}

#header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    background-color: var(--primaria-02);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    
}

#navbar{
    display: flex;
    gap: 2rem;
    margin-right: 135px;
    

}

#navbar a{
    font-size:24px ;
    font-weight: 400;
    color: var(--white-05);
}

#header-titulo{
    text-align: center;
    margin-top: 32px;
    
}

#header-titulo h5{
    margin-top: 32px;
}

#banner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 64px;
}

#banner-logo{
    
    width: 473.17px;
    height: 260px;
    left: 135px;
    top: 429px;
}

button{
    width: 370px;
    height: 77.94px;
    left: 935px;
    border-radius: 50.38px;
    background-color: var(--quartenaria-06);
    border: none;
    font-size:24px ;
    font-weight: 400;
    color: var(--quartenaria-01);

}

/* Menu Principal */
#apresentacao h2{
    margin-top: 256px;
    margin-left: 135px;
    left: 135px;
}

#apresentacao h4{
    margin-top: 64px;
    
    margin-left: 135px;
}

#apresentacao h6{
    margin-top: 32px;
    margin-left: 1129px;
}
/* Serviços */

#servicos{
    
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 256px;
}

#nome-servicos{
    margin-top: 16px;
    display: flex;
    gap: 1rem;
    padding: 1rem ;
}
#infra {
    width: 230px;
    height: 185px;
   
}

#catalogo {
    width: 270px;
    height:185px ;
    
    
}

#competicao{
    width: 270px;
    height: 185px;
    
}

/* Nossas Atrações */
#nossas-atracoes{
    background-color: var(--white-04) ;
    margin-top: 256px;
    padding-top: 64px;
    

}

#nossas-atracoes h4{
    
    margin-left: 135px;
}

.borda{
    color: var(--quartenaria-01);
    height: 10px;
    margin-left: 140px;
}

.principais-jogos{
    display: flex;
    gap: 1rem;
    margin-top: 256px;
    padding: 1rem;
    
}

.img-principais-jogos{
    width: 370px;
    height: 288px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#nome-principais-jogos{
    margin-top: 16px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    
}

#muito-mais {
    margin-left: 1130px;
    margin-top: 16px;
    padding-bottom: 128px;
}


/* Política de Preços */
.politica-precos h2{
    margin-left: 135px;
    margin-top: 128px;
}

.valores{
    background-color: var(--terciaria-01);
    border-radius:64px;
    margin-top: 64px;
   width: 80%;
}

.valores h4{
    text-align: center;
    padding-top: 64px;
}

.precos{
    margin-top: 64px;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    
}

.horas{
    width: 170px;
    height: 240px;
    background-color: var(--quartenaria-01);
    border-radius: 32px;
    text-align: center;
    margin-bottom: 128px;
}

#btn-valores{
    width: 370px;
    height: 77.94px;
    left: 935px;
    border-radius: 50.38px;
    background-color: rgba(122, 71, 255, 0);
    border: 1px solid var(--quartenaria-06);
    
    font-size:24px ;
    font-weight: 400;
    color: var(--white-05);
    margin-left: 535px;
    margin-top: 64px;
    margin-bottom: 64px;
    
}

/* Footer */
footer{
    bottom: 0;
    position: relative;
}

.esquerda-direita{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h2{
    margin-top: 256px;
    margin-left: 135px;

}

footer h5{
    margin-left: 135px;
   
}

footer h6{
    margin-top: 16px;
    margin-left: 135px;

}

.footer-esquerda{
    margin-top: 128px;
}
.footer-direita{
    margin-top: 128px;
    margin-right: 135px;
}

i{
    color: var(--black-06);
    margin-right: 5px;
}

.telefone {
    margin-top: 32px;
    margin-left: 135px;
}

.email {
    margin-top: 16px;
    margin-left: 135px;
}
.endereco {
    display: flex;
    margin-top: 16px;
    margin-left: 135px;
    max-width: 234px;
}

iframe{
    border-radius: 16px;
}

.cop{
    
    margin-top: 128px;
    height: 70px;
    background-color:  var(--primaria-01);
}

#autores{
    
    text-align: center;
    padding-top: 30px;
}



/* ----------------------- POP UP ------------------------*/
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 772px;
    height: 446px;
    padding: 15px;
    border-radius: 64px;
    background-color: var(--terciaria-01);
    display: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#popup i{
    margin-left: 700px;
    size: 32px;
}

#popup iframe{
    margin-left: 90px;
    margin-top: 36px ;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



/* ----------------------- CSGO ------------------------*/
#main-cs{
    background-color: var(--white-04);
    padding-top: 64px;
    
}

#main-cs h4{
    margin-left: 135px;
}


#main-cs img{
    margin-top: 64px;
    margin-left: 235px;
    width: 970px;
    align-items: center;
    height: 436px;
    filter: drop-shadow(0px 10.5514px 10.5514px rgba(0, 0, 0, 0.25));
}

#main-cs p{
    padding-top: 64px;
    margin-left: 135px;
    max-width: 1100px;
    padding-bottom: 64px;

}


.outros-temas h3{
    margin-top: 128px;
    margin-left: 135px;
}

.img-outros-temas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    text-align: center;
}

.img-outros-temas h5{
    margin-top: 16px;
}

.img-outros-temas img{
    width: 370px;
    height: 212px;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
}

/* ----------------------- Criadores ------------------------*/
.criadores h2{
    margin-top: 128px;
    margin-left: 135px;
}

.thay{
    display: flex;
    
    gap: 2rem;
}

.josias{
    display: flex;
    gap: 2rem;
    margin-top: 128px;
}
.perfil img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 32px;
    margin-left: 135px;
}

.perfil h4{
    margin-top: 16px;
    margin-left: 140px;
  
}

.josias .perfil h4{
    margin-left: 160px;
}

.img-portfolio{
    width: 670px;
    border-radius: 16px;
    padding-top: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ----------------------- Áudio ------------------------*/
.projeto-audio{
    margin-top: 64px;
}

.projeto-audio h1{
    margin-left: 135px;
}

.audio h6{
    text-align: center;
    margin-top: 16px;
}

.audio audio{
    margin-left: 500px;
    margin-top: 32px;
}


/* ----------------------- Animação ------------------------*/

.projeto-animacao{
    margin-top: 64px;
}

.projeto-animacao h1{
    margin-left: 135px;
}

.animacao h6 {
    text-align: center;
    margin-top: 16px;
}

.animacao video{
    margin-left: 400px;
    margin-top: 32px;
    border-radius: 16px;
    filter: drop-shadow(0px 10.5514px 10.5514px rgba(0, 0, 0, 0.25));
}

/* ----------------------- Vídeo ------------------------*/
.projeto-video{
    margin-top: 64px;
}

.projeto-video h1{
    margin-left: 135px;
}

.video video{
    margin-left: 400px;
    margin-top: 32px;
    border-radius: 16px;
    filter: drop-shadow(0px 10.5514px 10.5514px rgba(0, 0, 0, 0.25));
}